<%= simple_form_for @note do |f| %>
  	<div class="mb-3">
  	<%= f.label :title, {class:"form-label"} %>
	<%= f.text_field :title, {class:"form-control"} %>
	</div>
	<div class="mb-3">
	<%= f.label :content, {class:"form-label"} %>
	<%= f.input :content, {class:"form-control", label: false} %>
	</div>
	<%= f.button :submit, {class: "btn btn-primary"} %>
<% end %>
